@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

@font-face {
	font-family:"montserrat";
	src: url("Font/Montserrat-Regular.ttf")format("truetype");
}
